PORT=2215

DB_USERNAME=postgres
DB_DATABASE=your-database-name
DB_PASSWORD=your-password
DB_PORT=5432

JWT_SECRET=
JWT_EXPIRES_IN=1d
JWT_EXPIRES_IN_REMEMBER=30d

DATABASE_URL=your-database-url

MAILTRAP_TOKEN=
MAIL_HOST=
MAIL_PORT=587
MAIL_USER=api
MAIL_PASS=

SERVER_URL_DOMAIN=http://localhost:2215
CLIENT_URL=http://localhost:2215